Repository iamskok/bigint-base62: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: initial commit
  .commitlintrc.json
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  .prettierrc.json
  .releaserc.json
  README.md
  jest.config.json
  package.json
  renovate.json
  src/index.ts
  tests/index.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.0.0 🎉 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1e0526be9c7cc77117e2b7e78e346c459eb91d28
Due: none

fix: lint-staged and lint script
  .lintstagedrc.json
  package.json
Due: prettier --write

chore(release): 1.0.1 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2cf905d704f0f16c530fd99a82bb81f9a8cbfcaf
Due: none

chore: add LICENSE
  .DS_Store
  LICENSE
  src/index.ts
Due: eslint --fix

fix: module exports
  .DS_Store
  src/index.ts
Due: eslint --fix

fix: module exports
  .gitignore
  src/index.ts
Due: eslint --fix

chore(release): 1.0.2 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7614a1dfc22d713ff2c0dffbe81ea7d2478cc812
Due: none

chore(release): 1.0.3 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  67563880313dde8f600f6fda54d4016f7c349046
Due: none

chore(release): 1.0.4 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9251392cead40d14528163e91bca2a70ff0907b7
Due: none

chore(release): 1.0.5 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef278c5d4b0df4cdb5454179510cca336156adbc
Due: none

chore(deps): update styfle/cancel-workflow-action action to v0.9.1
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.6 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f8facc1d50b162554d7b2e633e47e8910ff2021
Due: none

chore(deps): pin dependency jest to v27.0.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.32.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency jest to v27.2.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @commitlint/cli to v13.2.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24.7.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.7 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8d4f1e740c37094870d5c9fcbea26e4c02c2e5b4
Due: none

chore(deps): update dependency ts-jest to v27.0.7
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.8 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3466659d8efc1e50504df330115baeb6ad3a94ba
Due: none

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.9 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{md,json}
  eslint --fix: any of: **/*.ts
